* {
    font-family: 'Roboto', sans-serif !important;
}

.leftimg {
    background-image: url(/images/login1.jpeg);
    background-size: 280px 418px;
    height: 400px;
    width: 325px;
}

.rightform {
    background-color: rgb(128, 0, 128);
    height: 400px;
    width: 325px;
}

.sty {
    font-family: Arial, Helvetica, serif;
    align-content: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.selfbd {
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    box-shadow: rgb(191, 27, 197);
}

.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: purple;
    box-shadow: 0 0 20px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

    .gradient-button:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: 8px 10px 12px;
    }

.gradient-button-1 {
    background-color: white;
}

    .gradient-button-1:hover {
        background-position: right center;
    }
